@import '../../style/style';

.wrapper {
    min-height: 100%;
	display: grid;
	overflow: hidden;
	grid-template-rows: auto 1fr auto;
}

.main_block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;    
    @include adaptiveValue("width", 1170, 290);
}

