@import '../../style/style';

.category__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: rem(40);
    cursor: pointer;
    flex-direction: column;    
    padding: rem(15);    
}

.subheadline {
    line-height: 150%;
    padding: rem(5) rem(10);
    font-size: rem(18);
    background-color: $mainLightBluColor;
}

.subheadline__open {
    line-height: 150%;
    padding: rem(5) rem(10);
    font-size: rem(18);
    display: flex;
    flex-direction: column;
    color: $mainWhiteColor;
    font-weight: 800;
    gap: rem(15);
}

.link {
    color: $mainBlueColor;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: $mainColor;
}

.link__open {
    color: $mainWhiteColor;
}

.link:active {
    text-decoration: underline;
}

.navHead {
    color: $mainColor;
    font-weight: 800;
}

.category {
    padding: 0 rem(15);
    display: flex;
    flex-direction: column; 
    background-color: $mainWhiteColor; 
    margin-left: auto;
    @media (max-width: $tablet) {
		display: none;
        overflow: hidden;
	}   
    @media (min-width: $tablet) {
        @include adaptiveValue("width", 300, 150);
	}
}

.category__open {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $mainDarkGrayColor;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    overflow-y: scroll;
    padding: rem(15);
}

.category_none {
    display: none;
}