@import '../../../style/style';

.item__block {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
		flex: 0 0 75%;
        max-width: 75%;
	}   
}

.item__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: rem(20);
}