@import '../../style/style';

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include adaptiveValue("gap", 30, 15);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: rem(20);
  flex-wrap: wrap;
  @media (max-width: 650px) {
	  flex-direction: column;
	}   
}

.title {
  @include adaptiveValue("font-size", 30, 18);
  line-height: 150%;
  font-weight: 800;  
  padding: 0 rem(15);
  background-color: $mainLightBluColor;
  @include adaptiveValue("margin-bottom", 15, 10);
  @media (max-width: 650px) {
	  text-align: center;
	}
}

.link {
  text-align: right;
  font-size: rem(16);
  line-height: 200%;
  color: $mainBlueColor;
  transition: all 0.3s ease 0s;
}

.link:hover {
  color: $mainColor;
}

.link:active {
  text-decoration: underline;
}

.block {
  display: flex;
  flex-direction: column;
}

