@import '../../style/style';

.content {
    width: 100%;
    @media (min-width: $tablet) {
        flex: 0 0 75%;
        max-width: 75%;
    }   
    @include adaptiveValue("gap", 30, 15);
}

.title {
    font-size: rem(30);
    font-weight: 800;
    text-align: center;
}